{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="" enctype="multipart/form-data">

<table class="table table-bordered">
  <tr>
    <th scope="row">Name</th>
    <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control" required /></td>
  </tr>
  <tr>
    <th scope="row">Photo</th>
    <td><label for="fileField"></label>
    <input type="file" name="fileField" id="fileField"  class="form-control" required /></td>
  </tr>
  <tr>
    <th scope="row">Symptoms</th>
    <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control" required /></td>
  </tr>
  <tr>
    <th scope="row">Solutions</th>
    <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" class="form-control" required  /></td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="ADD" class="btn btn-primary" /></th>
  </tr>
</table>
    </form>
</body>
</html>
{% endblock %}