{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="213" height="240" border="1">
  <tr>
    <th scope="row"><a href="/viewandverifyshop">view and verify shop</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewshop">viewshop</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewregistereduser">view registered user</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewcomplaintandsendreply">view complaint send reply</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/changepassword">change password</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/breedadd">breed add</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewbreed">view breed</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/logout">LOGOUT</a></th>
  </tr>
{#  <tr>#}
{#    <th scope="row"><a href="/viewfood">view food</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/viewdiseases">view diseases</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/adddiseases">add diseases</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/rating">rating</a></th>#}
{#  </tr>#}
</table>
</body>
</html>
{% endblock %}
