{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Rating</th>
      <th align="center">User Name</th>
      <th>Comment</th>
      <th>Date</th>
    </tr>
      {% for i in range(0,ln) %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td >
                <img src="{{ r1[i][0] }}" width="20" height="20">
                <img src="{{ r1[i][1] }}" width="20" height="20">
                <img src="{{ r1[i][2] }}" width="20" height="20">
                <img src="{{ r1[i][3] }}" width="20" height="20">
                <img src="{{ r1[i][4] }}" width="20" height="20">
            </td>

      <td align="center">{{ resu[i]['user_email'] }}</td>
      <td>{{ resu[i]['Comment'] }}</td>
      <td>{{ resu[i]['Date'] }}</td>
    </tr>
       {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
