{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">email</th>
      <th scope="col">phone number</th>
      <th scope="col">location</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i.shop_name }}</td>
      <td>&nbsp;{{ i.shop_email }}</td>
      <td>{{ i.shop_phonenumber }}</td>
      <td><a href="https://www.google.com/maps/?q={{ i['shop_latitude'] }},{{ i['shop_longitude'] }}" class="btn btn-secondary">locate</a></td>
      <td><p><a href="/approvedshop/{{ i.loginid }}#aaa" class="btn btn-success">approve</a></p>
      <p><a href="/rejectshop/{{ i.loginid }}#aaa" class="btn btn-danger">reject</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
