{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User_info</th>
      <th scope="col">Complaint</th>
      <th scope="col">Date</th>
      <th scope="col">Reply</th>
      <th scope="col">Reply_date</th>
    </tr>
        {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i.user_name }}<br>{{ i.user_email }}</td>
      <td>{{ i.Complaint }}</td>
      <td>{{ i.Cdate }}</td>
        {% if i.Reply=='pending' %}
              <td colspan="2"><a href="/sendreply/{{ i.Complaint_id }}#aaa" class="btn btn-dark">Reply</a></td>
{% else %}
      <td>{{ i.Reply }}</td>
      <td>{{ i.Reply_date }}</td>
    {% endif %}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
