{% extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="get" action="">
  <table class="table table-bordered">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Phone number</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i.user_name}}</td>
      <td>housename:{{ i.user_housename }}<br>place:{{ i.user_place }}<br>post:{{ i.user_post }}<br>pin:{{ i.user_pin }}</td>
      <td>{{ i.user_email }}</td>
      <td>{{ i.user_phonenumber}}</td>
      <td><a href="https://www.google.com/maps/?q={{ i['user_latitude'] }},{{ i['user_longitude'] }}#aaa" class="btn btn-secondary">Locate</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
