{% extends 'shop/index.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td><a href="/view_profile">View profile</a> </td>
    </tr>
    <tr>
        <td><a href="/viewbreedd">view breed</a> </td>
    </tr>
    <tr>
        <td><a href="/addaccessories">add accessories</a> </td>
    </tr>
    <tr>
        <td><a href="/viewaccessories">View accessories</a> </td>
    </tr>
    <tr>
        <td><a href="/addpets">add pets</a> </td>
    </tr>
    <tr>
        <td><a href="/viewpets">View pets</a> </td>
    </tr>
    <tr>
        <td><a href="/viewtodaypurchasehistory">View today purchase history</a> </td>
    </tr>
    <tr>
        <td><a href="/shopchangepasswordd">shop change password</a> </td>
    </tr>
    <tr>
        <td><a href="/viewpurchasehistory">View purchase history</a> </td>
    </tr>
</table>
</body>
</html>
{% endblock %}