{% extends 'shop/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table  class="table table-bordered">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item_name</th>
      <th scope="col">price</th>
      <th scope="col">Qty</th>
      <th scope="col">Amount</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i.Name }}</td>
      <td><img src="{{ i.Photo}}" height="85%" width="85%" alt=""/></td>
      <td>{{ i.Price }}</td>
      <td>{{ i.Qty }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
