{% extends 'shop/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User_name</th>
      <th scope="col">Delivery_address</th>
      <th scope="col">Amount</th>
      <th scope="col">Payment</th>
      <th scope="col">&nbsp;</th>
    </tr>
     {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i.user_name }}</td>
      <td>house_name:{{ i.user_housename }}<br>user_place:{{ i.user_place }}<br>user_post:{{ i.user_post }}<br>user_pin:{{i.user_pin }}</td>
      <td>{{ i.Price }}</td>
      <td>{{ i.Payment_status }}</td>
      <td><a href="/viewitems/{{ i.A_id }}#aaa" class="btn btn-secondary">view items</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}