{% extends 'shop/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-bordered">

    <tr>
      <th scope="row">Shop_name</th>
      <td> {{ data.shop_name }} </td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td>{{ data.shop_email }}</td>
    </tr>
    <tr>
      <th scope="row">Phone_number</th>
      <td>{{ data.shop_phonenumber }}</td>
    </tr>
    <tr>
      <th scope="row">Photo</th>
      <td><img src="{{ data.shop_photo }}" height="100%"width="100%" alt=""/></td>
    </tr>
    <tr>
      <th scope="row">Lattitude</th>
      <td>{{ data.shop_lattitude }}</td>
    </tr>
    <tr>
      <th scope="row">Longitude</th>
      <td>{{ data.shop_longitude }}</td>
    </tr>

    <tr>
      <th colspan="2" scope="row"><a href="/viewprofileandupdate/{{ data.shop_id }}#aaa" class="btn btn-secondary">update</a> </th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
