{% extends 'user/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th scope="row">Quantity</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield"  class="form-control"  required /></td>
    </tr>
    <tr>
      <td colspan="2" scope="row" align="center"><input type="submit" name="button" id="button" value="BOOK" class="btn btn-primary"/></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}