{% extends 'user/index.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td><a href="/viewprofile">View profile</a> </td>
    </tr>
    <tr>
        <td><a href="/view_shop">view shop</a> </td>
    </tr>
{#    <tr>#}
{#        <td><a href="/view_shop_pet">view shop pets</a> </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td><a href="/view_acessoriess">View accessories</a> </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td><a href="/addpets">add to cart</a> </td>#}
{#    </tr>#}
{#    <tr>#}
{#        <td><a href="/viewpets">book</a> </td>#}
{#    </tr>#}
    <tr>
        <td><a href="/view_cart">view cart</a> </td>
    </tr>
    <tr>
        <td><a href="/viewbooking">view booking</a> </td>
    </tr>
{#    <tr>#}
{#        <td><a href="/viewpurchasehistory">view items</a> </td>#}
{#    </tr>#}
    <tr>
        <td><a href="/Payment_option_acessories">payment option accessories</a> </td>
    </tr>
    <tr>
        <td><a href="/pay">pay</a> </td>
    </tr>
    <tr>
        <td><a href="/addpetss">add pet</a> </td>
    </tr>
    <tr>
        <td><a href="/viewpetss">view pet</a> </td>
    </tr>

    <tr>
        <td><a href="/view_pending_books_and_approval">view pending pet booking and approval</a> </td>
    </tr>
    <tr>
        <td><a href="/view_pets_booking_history">view pets booking history</a> </td>
    </tr>
    <tr>
        <td><a href="/view_others_pet_book">view other's pet book</a> </td>
    </tr>
    <tr>
        <td><a href="/view_pet_booking status">view pets booking status</a> </td>
    </tr>
    <tr>
        <td><a href="/view_breeddd">view breed</a> </td>
    </tr>
{#     <tr>#}
{#        <td><a href="/view_food">view food</a> </td>#}
{#    </tr>#}
{#     <tr>#}
{#        <td><a href="/view_diseasse">view disease</a> </td>#}
{#    </tr>#}
</table>
</body>
</html>
{% endblock %}