{% extends 'user/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User_name</th>
      <th scope="col">Pet</th>
      <th scope="col">Photo</th>
      <th scope="col">Price</th>
      <th scope="col">Details</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ i.user_name }}</td>
      <td>{{ i.Breed_id }}</td>
      <td><img src="{{ i.P_photo }}" height="75%" width="75%" alt=""/></td>
      <td>{{ i.Price }}</td>
      <td>{{ i.Details }}</td>
      <td><p><a href="/pet_book/{{ i.P_id }}#aaa" class="btn btn-success">Book</a></p>
      <p><a href="https://www.google.com/maps/?q={{ i['latitude'] }},{{ i['longitude'] }}" class="btn btn-secondary">LOCATE</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}