{% extends 'user/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User_name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Pet</th>
      <th scope="col">Photo</th>
      <th scope="col">Price</th>
      <th scope="col">Details</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;{{ i.user_name }}</td>
      <td>&nbsp;{{ i.user_housename}},{{ i.user_place}},{{ i.user_post }},{{ i.user_pin}}</td>
      <td>{{ i.user_email}}</td>
      <td>&nbsp;{{ i.user_phonenumber}}</td>
      <td>&nbsp;{{ i.Breed_id }}</td>
      <td><img src="{{ i.Photo }}" height="75%" width="75%" alt=""/></td>
      <td>&nbsp;{{ i.Price}}</td>
      <td>&nbsp;{{ i.Details }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}