{% extends 'user/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th scope="col">#</th>
      <th scope="col">User_name</th>
      <th scope="col">Address</th>
      <th scope="col">Pet</th>
      <th scope="col">Photo</th>
      <th scope="col">Price</th>
      <th scope="col">Details</th>
      <th scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i.user_name }}</td>

      <td>{{ i.user_housename }}<br>{{ i.user_place }}<br>{{ i.user_post }}<br>{{ i.user_pin }}</td>
      <td>{{ i.Breed_name }}</td>
      <td><img src="{{ i.Photo }}" height="75%" width="75%" alt=""/></td>
      <td>&nbsp;{{ i.Price }}</td>
      <td>&nbsp;{{ i.Details }}</td>
      <td><p><a href="/petbookingstatus/{{ i.PB_id }}#aaaa" class="btn btn-success">Approve</a></p>
      <p><a href="/rejectpet/{{ i.PB_id }}#aaa" class="btn btn-danger">Reject</a></p></td>
    </tr>
      {%  endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}