{% extends 'user/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th colspan="6" scope="col"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" />
      <input type="submit" name="button" id="button" value="SEARCH" /></th>
    </tr>
    <tr>
      <td>#</td>
      <td>Name</td>
      <td>Image</td>
      <td>Price</td>
      <td>Quantity</td>
      <td>&nbsp;</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i.Name }}</td>
      <td>&nbsp;<img src="{{ i.Photo }}" height="75%" width="75%" alt=""/></td>
      <td>&nbsp;{{ i.Price }}</td>
      <td>&nbsp;{{ i.Qty }}</td>
        {% if i.Qty|int == 0 %}
        <td><font color="red">Out of stock</font> </td>
        {% else %}
      <td><p><a href="/add_to_cart/{{ i.A_id }}/{{ i.Qty }}#aaa" class="btn btn-secondary">Add to cart</a></p>
      <p><a href="/book/{{ i.A_id }}/{{ i.Qty }}#aaa" class="btn btn-primary">BOOK</a></p></td>
    {% endif %}
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}